.container-fluid
{
    margin-top: 2em;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}
 
footer
{
    margin-top: 1em;
}

section
{
    margin-left: 5%;
    margin-right: 5%;
}

img
{
    max-height: 12rem;
}
.card-img-top
{
    height: 220px;
    object-fit: contain;
}

#login-email
{
    margin-bottom: 5px;
}